#listOptions {
  margin-right: 10px;
}

#deliveries {
  .item-input-control {
    border: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .done-delivery {
    text-decoration: line-through;
  }

  .delivery-title {
    padding-top: 8px;
  }

  .delivery-group-item {
    padding-top: 8px;
    padding-bottom: 8px;

    .btn-xs {
      padding: 0;
    }
  }

  .delivery-checkbox {
    padding-top: 8px;
  }

  .delivery-commands {
    padding-top: 4px;
  }
}

.modal-footer {
  display: block;
}
